body, ul, li, h1, h2, a{
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    background-color:crimson;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0px;
    left: 0px;
}
header h1{
    color: whitesmoke;
    border: 8px solid whitesmoke;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 35px;
}
.banner{
    position: relative;
}
.banner img{
    max-width: 100%;
}
.banner .welcome{
    background-color: blue;
    color: whitesmoke;
    padding: 30px;
    position: absolute;
    left: 0px;
    top: 30%;
}
.banner h2{
    font-size: 75px;
}
.welcome span{
    font-size: 1.3em;
}
nav{
    background-color: #f4f4f4;
    padding: 20px;
    position: sticky;
    top: 100px;
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    width: 25%;
    display: inline-block;
    font-size: 25px;
}
nav li a{
    text-decoration: none;
    color: #4B4B4B;
}
nav li a.join{
    color: #f63232;  
}

